<h2 mat-dialog-title>Create user</h2>
<mat-dialog-content>
  <form>

    <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Name</mat-label>
    <mat-form-field appearance="outline" class="w-100">
      <input matInput [(ngModel)]="user.name" name="name" required />
    </mat-form-field>

    <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Email Address</mat-label>
    <mat-form-field appearance="outline" class="w-100">
      <input
        matInput
        [(ngModel)]="user.email"  name="email"              type="email"
        required
        #emailModel="ngModel"
      />
      <mat-error *ngIf="emailTaken">
        Sorry, that email is already used. Try another?
      </mat-error>
    </mat-form-field>

    <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
    <mat-form-field appearance="outline" class="w-100">
      <input
        matInput
        [(ngModel)]="user.password" name="password"              type="password"
        required
      />
    </mat-form-field>

    <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Rôle</mat-label>
    <mat-form-field appearance="outline" class="w-100">
      <mat-select [(ngModel)]="user.role" name="role" required (selectionChange)="setDescriptionBasedOnRole()"> <mat-option *ngFor="let role of roles" [value]="role.name">
          {{ role.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Description</mat-label>
    <mat-form-field appearance="outline" class="w-100">
      <input matInput [(ngModel)]="user.description" name="description" readonly />
    </mat-form-field> -->

    <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Picture</mat-label>
    <input
      class="form-control form-control-sm mt-2"
      type="file"
      (change)="onFileSelected($event)"
      accept="image/*"
    />
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" (click)="submit()">Sign Up</button>
</mat-dialog-actions>