<h2 mat-dialog-title>{{ 'userManagement.userDetails' | translate }}</h2>
<mat-dialog-content>

   <!-- Picture -->
  <div class="text-center mt-3" *ngIf="data.user.picture">
    <img
      [src]="data.user.picture.startsWith('http') ? data.user.picture : environment.apiUrl + data.user.picture"
      alt="Profile"
      class="rounded-circle"
      width="50"
    />
  </div>
  <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'userManagement.name' | translate }}</mat-label>
  <mat-form-field appearance="outline" class="w-100">
    <input matInput [(ngModel)]="data.user.name" name="name" [readonly]="true" />
  </mat-form-field>

  <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'userManagement.email' | translate }}</mat-label>
  <mat-form-field appearance="outline" class="w-100">
    <input matInput [(ngModel)]="data.user.email" name="email" [readonly]="true" />
  </mat-form-field>

  <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'userManagement.role' | translate }}</mat-label>
  <mat-form-field appearance="outline" class="w-100">
    <input matInput [(ngModel)]="data.user.role" name="role" [readonly]="true" />
  </mat-form-field>

  <mat-label class="f-s-14 f-w-600 m-b-12 d-block">{{ 'userManagement.description' | translate }}</mat-label>
  <mat-form-field appearance="outline" class="w-100">
    <input matInput [value]="data.user.description" readonly />
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close mat-raised-button color="primary">{{ 'userManagement.close' | translate }}</button>
</mat-dialog-actions>

