<h2 mat-dialog-title>User Details</h2>
<mat-dialog-content>

   <!-- Picture -->
  <div class="text-center mt-3" *ngIf="data.user.picture">
    <img
      [src]="data.user.picture.startsWith('http') ? data.user.picture : environment.apiUrl + data.user.picture"
      alt="Profile"
      class="rounded-circle"
      width="100"
    />
  </div>
  <!-- Name -->
  <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Name</mat-label>
  <mat-form-field appearance="outline" class="w-100">
    <input matInput [(ngModel)]="data.user.name" name="name" [readonly]="true" />
  </mat-form-field>

  <!-- Email -->
  <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Email Address</mat-label>
  <mat-form-field appearance="outline" class="w-100">
    <input matInput [(ngModel)]="data.user.email" name="email" [readonly]="true" />
  </mat-form-field>

  <!-- Role -->
  <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Role</mat-label>
  <mat-form-field appearance="outline" class="w-100">
    <input matInput [(ngModel)]="data.user.role" name="role" [readonly]="true" />
  </mat-form-field>

  <!-- Description -->
  <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Description</mat-label>
  <mat-form-field appearance="outline" class="w-100">
    <input matInput [value]="data.user.description" readonly />
  </mat-form-field>

 
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-danger">Close</button>
</mat-dialog-actions>
