<!-- Users List -->
<div class="user-management-container">

  <!-- Create User Button -->
  <div class="d-flex justify-content-end mb-3">
   <button class="btn btn-outline-primary" mat-raised-button (click)="openCreateDialog()" [disabled]="userRole === 'developer'">Create User</button>


  </div>

  <!-- Users Grid -->
  <div class="row" *ngIf="users.length > 0">
    <div class="col-md-4 mb-4" *ngFor="let user of users">
      <div class="card user-card">
        <div class="card-body text-center">

          <!-- Avatar -->
          <img [src]="user.picture ? getImageUrl(user.picture) : 'assets/images/profile/user-1.jpg'" alt="{{user.name}}"
            class="rounded-circle user-image" />

          <!-- Name -->
          <h5 class="card-title">{{ user.name }}</h5>

          <!-- Email -->
          <p class="card-text text-muted">{{ user.email }}</p>

          <!-- Role -->
          <p class="card-text text-info fw-bold">{{ user.role }}</p>

          <!-- Action Buttons -->
          <div class="d-flex justify-content-around mt-3 action-icons-group">
            <div class="text-center">
              <button class="btn btn-link text-primary p-0" (click)="viewUser(user)" title="View">
                <i class="ti ti-eye fs-4"></i>
              </button>
              <div class="icon-label">View</div>
            </div>

            <div class="text-center">
              <button class="btn btn-link text-warning p-0" (click)="editUser(user)" title="Edit" [disabled]="userRole === 'developer'">
                <i class="ti ti-pencil fs-4"></i>
              </button>
              <div class="icon-label">Edit</div>
            </div>

            <div class="text-center">
              <button class="btn btn-link text-danger p-0" (click)="deleteUser(user)" title="Delete" [disabled]="userRole === 'developer'">
                <i class="ti ti-trash fs-4"></i>
              </button>
              <div class="icon-label">Delete</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


