<div class="modal-body p-4 bg-danger-subtle text-center text-danger">

  <i class="ti ti-hexagon-letter-x fs-7"></i>

  <h4 class="mt-3 fw-bold">Are you sure?</h4>

  <p class="mt-3 text-dark fw-semibold">
    You are about to delete the role: 
    <span class="text-danger">{{ data.role.name }}</span><br />
    This action cannot be undone.
  </p>

  <div class="d-flex justify-content-center gap-3 mt-4">
    <button class="btn btn-light px-4" (click)="cancel()">Cancel</button>
    <button class="btn btn-danger px-4" (click)="confirmDelete()">Delete</button>
  </div>

  <div *ngIf="errorMessage" class="text-danger mt-2">
    {{ errorMessage }}
  </div>

</div>
