<h2 mat-dialog-title>Edit User</h2>

<mat-dialog-content>
  <!-- Picture -->
  <div class="text-center mt-3 mb-2" *ngIf="user.picture">
    <img
      [src]="user.picture.startsWith('http') ? user.picture : environment.apiUrl + user.picture"
      alt="Profile"
      class="rounded-circle shadow-sm"
      width="50"
    />
  </div>

  <!-- Name -->
  <mat-label class="f-s-14 f-w-600 m-b-5 d-block">Name</mat-label>
  <mat-form-field appearance="outline" class="w-100">
    <input matInput [(ngModel)]="user.name" name="name" required />
  </mat-form-field>

  <!-- Email -->
  <mat-label class="f-s-14 f-w-600 m-b-5 d-block">Email Address</mat-label>
  <mat-form-field appearance="outline" class="w-100">
    <input matInput [(ngModel)]="user.email" name="email" required type="email" />
  </mat-form-field>

   <!-- Password -->
  <mat-label class="f-s-14 f-w-600 m-b-5 d-block">Password</mat-label>
  <mat-form-field appearance="outline" class="w-100">
  <mat-select [(ngModel)]="user.role" name="role" required (selectionChange)="setDescriptionBasedOnRole()">
    <mat-option *ngIf="loadingRoles" [disabled]="true">Loading roles…</mat-option>
    <mat-option *ngFor="let r of roles" [value]="r.name">
      {{ r.name }}
    </mat-option>
  </mat-select>
</mat-form-field>


  <!-- Description -->
  <mat-label class="f-s-14 f-w-600 m-b-5 d-block">Description</mat-label>
  <mat-form-field appearance="outline" class="w-100">
    <input matInput [(ngModel)]="user.description" name="description" />
  </mat-form-field>

  <!-- Picture Upload -->
  <mat-label class="f-s-14 f-w-600 m-b-5 d-block">Change Picture</mat-label>
  <input
    class="form-control form-control-sm mt-2"
    type="file"
    (change)="onFileSelected($event)"
    accept="image/*"
  />
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close mat-raised-button>Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()">Update</button>
</mat-dialog-actions>
